.logo-title {
    font-family: Plasma-Square;
    user-select: none;
    margin-bottom: 3px;
}
.logo-subtitle {
    font-family: Mikhak-Medium;
    user-select: none;
}

/* iPhone 5 & SE */
@media screen and (max-width:325px) {
    .logo-title{
        font-size: 38px;
        line-height: 38px;
    }
    .logo-subtitle {
        font-size: 20px;
    }
}

/* iPhone 6/7/8 Plus */
@media screen and (min-width:325px) and (max-width:430px) {
    .logo-title{
        font-size: 44px;
        line-height: 44px;
    }
    .logo-subtitle {
        font-size: 24px;
    }
}

/* iPhone 5/SE Horizontal */
@media screen and (min-width:430px) and (max-width:570px) {
    .logo-title{
        font-size: 44px;
        line-height: 44px;
    }
    .logo-subtitle {
        font-size: 26px;
    }
}
/* iPad */
@media screen and (min-width:570px) and (max-width:770px) {
    .logo-title{
        font-size: 47px; line-height: 47px;
    }
    .logo-subtitle {
        font-size: 27px;
    }
}
/* iPad Pro */
@media screen and (min-width:770px) and (max-width:1030px) {
    .logo-title{
        font-size: 49px; line-height: 49px;
    }
    .logo-subtitle {
        font-size: 29px;
    }
}
/* Laptop Large */
@media screen and (min-width:1030px) and (max-width:1440px) {
    .logo-title{
        font-size: 55px; line-height: 55px;
    }
    .logo-subtitle {
        font-size: 32px;
    }
}
/* Desktop Large  (up to 2560px) */
@media screen and (min-width:1440px)  {
    .logo-title{
        font-size: 68px; line-height: 68px;
    }
    .logo-subtitle {
        font-size: 40px;
    }
}