
/* colors:  */

.bg-black {
    background-color: #393e46;
  }
  .bg-green {
    /* background-color: #00c873; */
    background-color: #00cc6d;
  }
  .bg-cream {
    background-color: #ffe6bd;
  }
  .bg-white {
    background-color: #f7f7f7;
  }
  .bg-light-gray {
    background-color: #999;
  }
  .bg-transparent {
    background-color: transparent;
  }
  
  .black {
    color: #393e46;
  }
  .green {
    /* color: #00c873; */
    color: #00cc6d;
  }
  .cream {
    color: #ffe6bd;
  }
  .white {
    color: #f7f7f7;
  }
  .light-gray {
    color: #999;
  }
  .transparent {
    color: transparent;
  }