/* CSS ICONS: */
/* --- close icon --- */
.gg-close {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 40px;
}
.gg-close::after,
.gg-close::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px;
}
.gg-close::after {
  transform: rotate(-45deg);
}
/* --- chevron right icon ---*/
.gg-chevron-right {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
}
.gg-chevron-right::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(-45deg);
  right: 6px;
  top: 4px;
}
/* --- profile icon --- */
.gg-profile,
.gg-profile::after,
.gg-profile::before {
  display: block;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 100px;
}
.gg-profile {
  overflow: hidden;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  position: relative;
}
.gg-profile::after,
.gg-profile::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 8px;
  height: 8px;
}
.gg-profile::after {
  border-radius: 200px;
  top: 11px;
  left: 0px;
  width: 18px;
  height: 18px;
}
/* --- home icon --- */
.gg-home {
  background: linear-gradient(to left, currentColor 5px, transparent 0)
      no-repeat 0 bottom/4px 2px,
    linear-gradient(to left, currentColor 5px, transparent 0) no-repeat right
      bottom/4px 2px;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 18px;
  height: 14px;
  border: 2px solid;
  border-top: 0;
  border-bottom: 0;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: -2px;
}

.gg-home::after,
.gg-home::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.gg-home::before {
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-left-radius: 4px;
  transform: rotate(45deg);
  top: -5px;
  border-radius: 3px;
  width: 14px;
  height: 14px;
  left: 0;
}

.gg-home::after {
  width: 8px;
  height: 10px;
  border: 2px solid;
  border-radius: 100px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
  left: 3px;
  bottom: 0;
}
/* --- pin icon --- */
.gg-pin {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: rotate(45deg) scale(var(--ggs, 1));
  width: 18px;
  height: 18px;
  border-radius: 100% 100% 0 100%;
  border: 2px solid;
  margin-top: -4px;
}

.gg-pin::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid;
  top: 3px;
  left: 3px;
  border-radius: 40px;
}
/* --- search icon --- */
.gg-search {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 100%;
  margin-left: -4px;
  margin-top: -4px;
}

.gg-search::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  height: 8px;
  background: currentColor;
  transform: rotate(-45deg);
  top: 10px;
  left: 12px;
}
/* --- circle icon --- */
.gg-circle {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 12px;
  height: 12px;
  border: 4px solid;
  border-radius: 100px;
}
/* --- square icon --- */
.gg-square {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 12px;
  height: 12px;
  border: 4px solid;
  border-radius: 3px;
}
/* --- performance icon --- */
.gg-performance {
  background: linear-gradient(to left, currentColor 8px, transparent 0)
    no-repeat center/2px 6px;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 100px;
}

.gg-performance::after,
.gg-performance::before {
  content: "";
  display: block;
  position: absolute;
  border: 2px solid;
}

.gg-performance::before {
  bottom: 2px;
  width: 2px;
  height: 2px;
  box-sizing: content-box;
  border-radius: 100px;
  left: 6px;
}

.gg-performance::after {
  box-sizing: border-box;
  border-radius: 3px;
  width: 14px;
  height: 8px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom: 0;
  top: 2px;
  left: 2px;
}
