.fs-container { 
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
}
.fs-container.center {
    justify-content: center;
    align-items: center;
}