.fs-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: 1000ms;
}
.fs-container.center {
  justify-content: center;
  align-items: center;
}
.fs-container.animate {
  animation: fadeIn 1500ms ; 
}
.fs-container.presentation {
  overflow: hidden;
  border-radius: 12px;
  box-shadow: -10px 10px 20px #ddd;
}
.fs-container.presentation:first-child {
  filter: opacity(0.95);
  backdrop-filter: blur(5px) !important;
}
.fs-container.presentation:last-child {
  z-index: -1;
}
.fs-container.presentation:last-child:hover {
  z-index: 2;
}
/* iPhone 5/SE */
@media screen and (max-width: 325px) {
  .fs-container.presentation {
    transform: rotate3d(1, 1, 1, -20deg) scale(0.65);
  }
  .fs-container.presentation:last-child {
    transform: rotate3d(1, 1, 1, -20deg) scale(0.65) translate(-10%, 10%);
  }
}
/* iPhone 6/7/8 Plus */
@media screen and (min-width: 325px) and (max-width: 430px) {
  .fs-container.presentation {
    transform: rotate3d(1, 1, 1, -30deg) scale(0.65);
  }
  .fs-container.presentation:last-child {
    transform: rotate3d(1, 1, 1, -30deg) scale(0.65) translate(-10%, 10%);
  }
}
/* iPhone 5/SE Horizontal */
@media screen and (min-width: 430px) and (max-width: 570px) {
  .fs-container.presentation {
    transform: rotate3d(1, 1, 1, -30deg) scale(0.65);
  }
  .fs-container.presentation:last-child {
    transform: rotate3d(1, 1, 1, -30deg) scale(0.65 ) translate(-10%, 10%);
  }
}
/* iPad */
@media screen and (min-width: 570px) and (max-width: 770px) {
  .fs-container.presentation {
    transform: rotate3d(1, 1, 1, -40deg) scale(0.65);
  }
  .fs-container.presentation:last-child {
    transform: rotate3d(1, 1, 1, -40deg) scale(0.65) translate(-10%, 10%);
  }
}
/* iPad Pro */
@media screen and (min-width: 770px) and (max-width: 1030px) {
  .fs-container.presentation {
    transform: rotate3d(1, 1, 1, -50deg) scale(0.67);
  }
  .fs-container.presentation:last-child {
    transform: rotate3d(1, 1, 1, -50deg) scale(0.67) translate(-10%, 10%);
  }
}
/* Laptop Large */
@media screen and (min-width: 1030px) and (max-width: 1440px) {
  .fs-container.presentation {
    transform: rotate3d(1, 1, 1, -60deg) scale(0.7);
  }
  .fs-container.presentation:last-child {
    transform: rotate3d(1, 1, 1, -60deg) scale(0.7) translate(-10%, 10%);
  }
}
/* Desktop Large  (up to 2560px) */
@media screen and (min-width: 1440px) {
  .fs-container.presentation {
    transform: rotate3d(1, 1, 1, -60deg) scale(0.7);
  }
  .fs-container.presentation:last-child {
    transform: rotate3d(1, 1, 1, -60deg) scale(0.7) translate(-10%, 10%);
  }
}
