@import url("./css/leaflet.css");
@import url("./css/icons.css");
@import url("./css/animations.css");
@import url("./css/fonts.css");
@import url("./css/colors.css");

body {
  margin: 0;
  direction: rtl;
}
a {
  text-decoration: none;
}
