@import url("./leaflet.css");
body {
  margin: 0;
  direction: rtl;
}
a {
  text-decoration:  none;
}

/* colors:  */

.bg-black {
  background-color: #393E46;
}
.bg-green {
  /* background-color: #00c873; */
  background-color:#1f9362;
}
.bg-cream {
  background-color: #ffe6bd;
}
.bg-white {
  background-color: #F7F7F7;
}
.bg-transparent {
  background-color: transparent;
}

.black {
  color: #393E46;
}
.green {
  /* color: #00c873; */
  color: #1f9362;
}
.cream {
  color: #ffe6bd;
}
.white {
  color: #F7F7F7;
}
.transparent {
  color: transparent;
}

/* Fonts: */
@font-face {
  font-family: Plasma-Square;
  src: url("../public/Plasma-Square-Dots.ttf");
}
@font-face {
  font-family: Mikhak-Regular;
  src: url("../public/Mikhak-Regular.ttf");
}
@font-face {
  font-family: Mikhak-Medium;
  src: url("../public/Mikhak-Medium.ttf");
}
@font-face {
  font-family: Vazir-Regular;
  src: url("../public/Vazirmatn-Regular.ttf")
}

/* Custom Animations */
.flasher {
  animation: flasher 0.5s alternate infinite;
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes fullHeight {
  0% {
    height: 0%;
  } 
  100% {
    height: 100%;
  }
}
@keyframes fullHeightReverse {
  0% {
    height: auto;
  }
  100% {
    height: 0%;
  }
}
@keyframes flasher {
  0% {
    filter: opacity(0);
  }
  25% {
    filter: opacity(1);
  }
  50% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(1);
  }
}
/* Loader: */
.lds-dual-ring {
  display: inline-block;
  user-select: none;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* CSS ICONS: */
.gg-close {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 40px
 }
 .gg-close::after,
 .gg-close::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px
 }
 .gg-close::after {
  transform: rotate(-45deg)
 } 
/* --- */
 .gg-chevron-right {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px
}
.gg-chevron-right::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(-45deg);
  right: 6px;
  top: 4px
}